.jumbotron {
	text-align: center;
}
.jumbotron .subheading {
	font-style: italic;
}

.issue {
	padding: 20px;
	margin-top:20px;
	border-radius: 4px;	
	background-color: #CCC;
	font-size: 12px;
}

.issue .name {
	font-weight: bold;
	font-size: 13px;
}

.issue .title {
	text-decoration: underline;
	padding-bottom:  10px;
}

.issue .message {
	font-style: italic;
}

.align-right {
	text-align: right
}